* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //font-size: 14px;
}

@import "./home";
@import "./modals";
@import "./product";
.error {
  position: absolute;
  color: red !important;
  font-size: 0.8rem;
}
// .edit-btn {
//   padding: 5px 20px;
//   font-size: 12px;
//   background-color: #333333;
//   border: none;
//   color: white;
//   border-radius: 5px;
// }
// .delete-btn {
//   padding: 5px 20px;
//   font-size: 12px;
//   background-color: red;
//   border: none;
//   color: white;
//   border-radius: 5px;
// }
.react-data-table {
  table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  table td,
  table th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 12px;
  }

  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  table tr:hover {
    background-color: #ddd;
  }

  table th,
  tfoot td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #333333;
  }
}
